name: Test NexusMods Upload Action

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      id: checkout
      uses: actions/checkout@v3

    - name: Zip mod files
      id: zip
      run: |
        zip -r ${{ vars.filename }} .

    - name: Run NexusMods upload action
      id: upload
      uses: bengosneynexusmods/upload-action@main
      with:
        api_key: ${{ secrets.NEXUSMODS_API_KEY }}
        game_domain: ${{ vars.GAME_DOMAIN }}
        mod_id: ${{ vars.MOD_ID }}
        filename: ${{ vars.FILENAME }}
        version: ${{ vars.VERSION }}
